@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: end;
  margin: 20px;
}

.content {
  width: 1000px;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.314);
  margin: 20px;
}

.card__img {
  width: 150px;
  height: 150px;
}

.card__buy {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  box-sizing: border-box;
  height: 100px;
  width: 1000px;
  background-color: rgba(128, 128, 128, 0.314);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 20px;

}

.item__img {
  height: 100%;
}

.item__name {
  text-transform: uppercase;
  font-weight: 700;
}

.item__price {
  color: rgb(229, 83, 21);
}

.item__cart {
  box-sizing: border-box;
  color: rgb(229, 83, 21);
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid;
  border-radius: 15px;
  height: 30px;
  padding: 10px;
}