@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 1000px;
  justify-content: center;
}

.material-icons {
  box-sizing: border-box;
  display: inline;
  align-items: end;
  border: 1px solid red;
}

.cards {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 900px;
  border: 1px solid green;
}

.card {
  box-sizing: border-box;
  border: 1px solid blue;
  /* width: 200px;
  height: 200px; */
}

.card__img {
  width: 200px;
  height: 200px;
  border: 1px solid pink;
}

.list {
  border: 1px solid grey;
  display: inline;
}

.item {
  border: 1px solid blue;
  box-sizing: border-box;
  height: 200px;
  background-color: gray;
}

.item__img {
  border: 1px solid blue;
  height: 100px;
}